/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset styles */
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  align-items: center;
}

/* Logo styles */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

/* Header styles */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-span {
  color: #2e2f42;
}

/* Navigation styles */
.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;

}
.nav-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}
.nav-list-item:hover {
  color: #404bbf;
}

.nav-list-item:focus {
  color: #404bbf;
}

/* Address styles */
.header-address {
  display: flex;
  align-items: center;
  font-style: normal;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-list-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-list-item:hover {
  color: #404bbf;
}

.address-list-item:focus {
  color: #404bbf;
}

/* Hero section styles */
.hero {
  background-color: #2e2f42;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 188px auto 0 auto;
}

/* Button styles */
.btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000026;
  margin: 0 auto 188px auto;
  display: block;
}

.btn:hover {
  background-color: #404BBF;
}

.btn:focus {
  background-color: #404BBF;
}

/* Section 2 - Features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.features-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 64px;
  margin: 120px 156px;
}
.features-list-item {
  width: 264px;
  gap: 8px;
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3 - Team */
.section-team {
  background-color: #F4F4FD;
  padding: 120px 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0px;
  width: 1128px;
}

.team-list-item {
  background-color: #FFFFFF;
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 1px 0px #2E2F4214;
  box-shadow: 0px 1px 1px 0px #2E2F4229;
  box-shadow: 0px 1px 6px 0px #2E2F4214;
  border-radius: 0px 0px 4px 4px;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-list-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
}

/* Section 4 - Portfolio */
.section-portfolio {
  padding: 120px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px;
  width: 1128px;
}

.portfolio-list-item {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 360px;
}

.portfolio-list-item-content {
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #E7E9FC;
  padding: 32px 16px 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.portfolio-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer styles */
.footer {
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-elements {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 16px;
  width: 1128px;
  padding: 100px 0px;
}

.logo-span-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #F4F4FD;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
